.toolbarNav{
    position: fixed;
    bottom: 0; 
    z-index: 1000;
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    background-color: rgb(235, 228, 217);
}

.carousel{
    
    width: 200vh;
    background-color: rgb(255, 175, 71);
}
.container{
    float:left;
    height: 100vh;
    width: 100vh;
    background-color: rgb(255, 213, 0);
    display:block;
}
.slide_img{
    min-width: 300vh;
    max-height: 100vh;
    object-fit: fill;
}